{% extends "home.html" %}
{% block title %}
<title>User Activation </title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/static/images/i10.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        height: 100vh;

    }

    .containr {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table-container {
        width: 80%;
        margin-left: 80px;
        margin-top: 140px;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    td {
        color: white;
    }

    th {
        background-color: #f2f2f2;
    }

    .add-stock-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    .add-stock-button:hover {
        background-color: #45a049;
    }

    h1 {
        color: white;
        margin-bottom: 40px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
</style>
</head>

<body>

    <center></center>
    <div class="containr">
        <div class="table-container" style="margin-top:80px;">
            <table>
                {% if messages %}
                {% for message in messages %}
                <center>
                    <p class="alert alert-success">{{ message|safe }}</p>
                </center>
                {% endfor %}
                {% endif %}
                <center>
                    <h1 >View Files</h1>
                </center>
                <thead>
                    <tr>
                        <th>Uploaded By</th>
                        <th>Filename</th>
                        <th>File Path</th>
                        <th>Uploaded Time</th>
                        <th>status</th>
                        <th>Actions</th>


                    </tr>
                </thead>
                {% for i in data %}
                <tbody>
                    <tr>
                        <td>{{ i.cloud.email }}</td>
                        <td>{{ i.cloud.filename }}</td>
                        <td>{{ i.cloud.file }}</td>
                        <td>{{ i.cloud.time }}</td>
                        <td>{{ i.cloud.status }}</td> 

                        {% comment %} <td>{{ i.encrypteddata }}</td> {% endcomment %}
                        <td style="text-align: center;">
                            <div style="display: flex; justify-content: center; gap: 15px;">
                              
                                <a href="{% url 'decryptfile' i.id %}"
                                    style="display: inline-block; padding: 8px 46px; background-color: #227292; color: white; text-decoration: none; border-radius: 4px;">Decrypte File
                                </a>
                                
                                <a href="{% url 'deletefile' i.cloud_id %}"
                                    style="display: inline-block; padding: 8px 46px; background-color: #227292; color: white; text-decoration: none; border-radius: 4px;">Delete File
                                </a>
                            </div>
                        </td>

                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock %}